In [5]:
import pandas as pd
import numpy as np

In [6]:
from IPython.core.display import HTML # this is the only part I wasn't able to do myself. I think it loads a 'style' onto every dataframe. The style is yellow and purple.  
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [119]:
AmesHousing = pd.read_excel('AmesHousing.xls', index_col=None)
AmesHousing.head()
len(AmesHousing)

2930

In [120]:
a = AmesHousing
a.set_index("Order", drop="True")
del a["Order"]
sale_price =a.sort_values(["SalePrice"], ascending=False)
sale_price.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
1767,528351010,60,RL,104.0,21535,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2007,WD,Normal,755000
1760,528320050,60,RL,160.0,15623,Pave,NaN,IR1,Lvl,AllPub,...,555,Ex,MnPrv,NaN,0,7,2007,WD,Abnorml,745000
2445,528320060,60,RL,118.0,35760,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,625000
1063,528164060,20,RL,106.0,12720,Pave,NaN,Reg,HLS,AllPub,...,144,Ex,NaN,NaN,0,2,2008,WD,Normal,615000
44,528150070,20,RL,100.0,12919,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2010,New,Partial,611657

In [121]:

sale_price[a.columns[0:10]].head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities
1767,528351010,60,RL,104.0,21535,Pave,NaN,IR1,Lvl,AllPub
1760,528320050,60,RL,160.0,15623,Pave,NaN,IR1,Lvl,AllPub
2445,528320060,60,RL,118.0,35760,Pave,NaN,IR1,Lvl,AllPub
1063,528164060,20,RL,106.0,12720,Pave,NaN,Reg,HLS,AllPub
44,528150070,20,RL,100.0,12919,Pave,NaN,IR1,Lvl,AllPub

In [122]:
sale_price[a.columns[11:20]].head()

,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built
1767,Gtl,NoRidge,Norm,Norm,1Fam,2Story,10,6,1994
1760,Gtl,NoRidge,Norm,Norm,1Fam,2Story,10,5,1996
2445,Gtl,NoRidge,Norm,Norm,1Fam,2Story,10,5,1995
1063,Mod,NridgHt,Norm,Norm,1Fam,1Story,10,5,2003
44,Gtl,NridgHt,Norm,Norm,1Fam,1Story,9,5,2009

In [123]:
sale_price[a.columns[21:30]].head()

,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation
1767,Gable,WdShngl,HdBoard,HdBoard,BrkFace,1170.0,Ex,TA,PConc
1760,Hip,CompShg,Wd Sdng,ImStucc,None,0.0,Gd,TA,PConc
2445,Hip,CompShg,HdBoard,HdBoard,BrkFace,1378.0,Gd,Gd,PConc
1063,Hip,CompShg,MetalSd,MetalSd,Stone,680.0,Ex,TA,PConc
44,Hip,CompShg,VinylSd,VinylSd,Stone,760.0,Ex,TA,PConc

In [124]:
sale_price[a.columns[31:40]].head()

,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating
1767,TA,Gd,GLQ,1455.0,Unf,0.0,989.0,2444.0,GasA
1760,TA,Av,GLQ,2096.0,Unf,0.0,300.0,2396.0,GasA
2445,TA,Gd,GLQ,1387.0,Unf,0.0,543.0,1930.0,GasA
1063,TA,Gd,GLQ,2257.0,Unf,0.0,278.0,2535.0,GasA
44,TA,Gd,GLQ,2188.0,Unf,0.0,142.0,2330.0,GasA

In [125]:
sale_price[a.columns[41:50]].head()

,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath
1767,Y,SBrkr,2444,1872,0,4316,0.0,1.0,3
1760,Y,SBrkr,2411,2065,0,4476,1.0,0.0,3
2445,Y,SBrkr,1831,1796,0,3627,1.0,0.0,3
1063,Y,SBrkr,2470,0,0,2470,2.0,0.0,1
44,Y,SBrkr,2364,0,0,2364,1.0,0.0,2

In [126]:
sale_price[a.columns[51:60]].head()

,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt
1767,4,1,Ex,10,Typ,2,Ex,Attchd,1994.0
1760,4,1,Ex,10,Typ,2,TA,Attchd,1996.0
2445,4,1,Gd,10,Typ,1,TA,Attchd,1995.0
1063,1,1,Ex,7,Typ,2,Gd,Attchd,2003.0
44,2,1,Ex,11,Typ,2,Gd,Attchd,2009.0

In [127]:
sale_price[a.columns[61:70]].head()

,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch
1767,3.0,832.0,TA,TA,Y,382,50,0,0
1760,3.0,813.0,TA,TA,Y,171,78,0,0
2445,3.0,807.0,TA,TA,Y,361,76,0,0
1063,3.0,789.0,TA,TA,Y,154,65,0,0
44,3.0,820.0,TA,TA,Y,0,67,0,0

In [128]:
sale_price[a.columns[71:82]].head()

,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
1767,0,NaN,NaN,NaN,0,1,2007,WD,Normal,755000
1760,555,Ex,MnPrv,NaN,0,7,2007,WD,Abnorml,745000
2445,0,NaN,NaN,NaN,0,7,2006,WD,Normal,625000
1063,144,Ex,NaN,NaN,0,2,2008,WD,Normal,615000
44,0,NaN,NaN,NaN,0,3,2010,New,Partial,611657

In [155]:
sale_price_high = sale_price[a.SalePrice > 500000]
len(sale_price_high)

##living_area = sale_price.sort_values(by="Gr Liv Area")
#Still need to compare living_area to sale_price

/home/matthew/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

17

In [113]:
# these variables exsist to count the type of zoning for each property. We had make sure there were no "strange" 
# zoning types like Industrial or agricultre.
floating_village_resedential = len(a[a['MS Zoning']== "FV"])
resedntial_high_density = len(a[a['MS Zoning']== "RH"])
resedential_low_density = len(a[a['MS Zoning']== "RL"])
resedential_medium_density = len(a[a['MS Zoning']== "RM"])


## 0 agriculture Zoning 0 Commercial zoning 0 Industrial Zoning 0 Resedential Low Density Park